@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/pretendard/Pretendard-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/pretendard/Pretendard-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/pretendard/Pretendard-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/pretendard/Pretendard-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/pretendard/Pretendard-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/pretendard/Pretendard-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/pretendard/Pretendard-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/pretendard/Pretendard-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/pretendard/Pretendard-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Aquire';
  src: url('/fonts/aquire/AquireBold.woff2') format('woff2');
  font-display: swap;
}

@layer base {
  html {
    font-family:
      'Pretendard',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      sans-serif;
  }
}

@theme {
  --color-api-red: #f93e3e;
  --color-api-blue: #61affe;
  --color-api-yellow: #fca130;
  --color-api-green: #49cc90;

  --color-api-red-sub: #fae7e7;
  --color-api-blue-sub: #ebf3fb;
  --color-api-yellow-sub: #fbf1e6;
  --color-api-green-sub: #e8f6f0;

  --color-bg-blue: #7eb1cc;
  --color-bg-yellow: #d2b452;
  --color-bg-red: #de8a79;
  --color-bg-green: #00a157;

  --color-gray-50: #f5f5f5;
  --color-gray-100: #e5e5e5;
  --color-gray-200: #e4e4e4;
  --color-gray-300: #d2d2d2;
  --color-gray-400: #bababa;
  --color-gray-500: #a2a2a2;
  --color-gray-600: #979797;
  --color-gray-700: #787878;
  --color-gray-800: #5a5a5a;
  --color-gray-900: #282828;

  --shadow-base: 0 0px 4px #00000040;
  --shadow-blue: 0 0px 6px #61affe;
  --shadow-light: 0 0px 10px #e5e5e5;

  --bg-main-gradient: linear-gradient(
    354.62deg,
    rgba(255, 255, 255, 0.1) 14.72%,
    color-mix(in srgb, var(--color-bg-red) 10%, transparent) 38.23%,
    color-mix(in srgb, var(--color-bg-yellow) 10%, transparent) 63.1%,
    color-mix(in srgb, var(--color-bg-blue) 10%, transparent) 85.59%
  );

  --bg-back: linear-gradient(
    355deg,
    rgba(255, 255, 255, 0.1) 14.72%,
    rgba(210, 180, 82, 0.1) 85.59%
  );

  --bg-front: linear-gradient(
    355deg,
    rgba(255, 255, 255, 0.1) 14.72%,
    rgba(126, 177, 204, 0.1) 85.59%
  );

  --bg-pm: linear-gradient(
    355deg,
    rgba(255, 255, 255, 0.1) 14.72%,
    rgba(222, 138, 121, 0.1) 85.59%
  );

  --bg-qa: linear-gradient(355deg, rgba(255, 255, 255, 0.1) 14.72%, rgba(0, 161, 87, 0.1) 85.59%);
}

@layer components {
  .font-Aquire {
    font-family: 'Aquire', cursive;
  }

  .bg-main-gradient {
    background: var(--bg-main-gradient);
  }

  .bg-back {
    background: var(--bg-back);
  }

  .bg-front {
    background: var(--bg-front);
  }

  .bg-pm {
    background: var(--bg-pm);
  }

  .bg-qa {
    background: var(--bg-qa);
  }

  .screen-center {
    @apply flex min-h-screen flex-col items-center;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
